* {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 20px;
    background: #2b2b2b;
    color: #fff;
    font-family: "Russo One", sans-serif;
}

.topo {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

input, button {
    background: #1e1e1e;
    border: none;
    color: #fff;
    padding: 6px;
    margin: 4px 0;
    font-family: inherit;
}

button:hover {
    background: #333;
}

button:active {
    transform: scale(0.97);
}


.conteudo {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.coluna {
    width: 45%;
}

h2 {
    font-weight: normal;
    color: beige;
}

.total {
    margin-top: 15px;
}

.soma-final {
    text-align: center;
    font-size: 26px;
    margin-top: 60px;
}

/* MOBILE */
@media (max-width: 768px) {
    .conteudo {
        flex-direction: column;
    }

    .coluna {
        width: 100%;
    }

    .soma-final {
        font-size: 22px;
    }
}

/* mantém tudo que você já tinha */

.item {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 5px 0;
}

.acoes button {
    margin-left: 5px;
    font-size: 12px;
}

.grafico {
    max-width: 600px;
    margin: 60px auto;
}


.exportar {
    text-align: center;
    margin-top: 30px;
}

.exportar button {
    margin: 5px;
}

.total-soma {
    font-weight: bold;
    margin-top: 10px;
    color: red;
}

.final-saldo{
    font-weight: bold;
    margin-top: 20px;
    color: green;
}

.login {
    text-align: center;
    margin-bottom: 20px;
}